## Loading/Exploring the data

Load the iris.csv file into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [52]:
import pandas as pd

Read the `iris.csv` dataset into an object named `iris`

In [53]:
iris = pd.read_csv("iris.csv")
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

How many different species are in this dataset?

In [54]:
len(iris['species'].unique())

3

What are their names?

In [55]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [56]:
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [57]:
iris['sepal_ratio'] = iris['sepal width (cm)'] / iris['sepal length (cm)']

Create a similar column called `'petal_ratio'`: petal width / petal length

In [58]:
iris['petal_ratio'] = iris['petal width (cm)'] / iris['petal length (cm)']

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [59]:
iris['sepal length (inch)'] = iris['sepal length (cm)']*0.393700787

In [60]:
iris['sepal width (inch)'] = iris['sepal width (cm)']*0.393700787

In [61]:
iris['petal length (inch)'] = iris['petal length (cm)']*0.393700787

In [62]:
iris['petal width (inch)'] = iris['petal width (cm)']*0.393700787

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


Hint 1
Create a dictionary using the species as keys and the numbers 0-2 for values


Hint 2
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column

In [63]:
encode = {'setosa':'0' , 'versicolor':'1' , 'virginica':'2'}
iris['encoded_species'] = iris['species'].apply(lambda x: encode[x])
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio,sepal length (inch),sepal width (inch),petal length (inch),petal width (inch),encoded_species
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007874,1.377953,0.551181,0.07874,0
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929134,1.181102,0.551181,0.07874,0
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850394,1.259843,0.511811,0.07874,0
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811024,1.220472,0.590551,0.07874,0
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968504,1.417323,0.551181,0.07874,0

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [64]:
seeds = pd.read_csv('ncaa-seeds.csv')
seeds

   team_seed opponent_seed
0        01N           16N
1        02N           15N
2        03N           14N
3        04N           13N
4        05N           12N
5        06N           11N
6        07N           10N
7        08N           09N
8        01S           16S
9        02S           15S
10       03S           14S
11       04S           13S
12       05S           12S
13       06S           11S
14       07S           10S
15       08S           09S
16       01E           16E
17       02E           15E
18       03E           14E
19       04E           13E
20       05E           12E
21       06E           11E
22       07E           10E
23       08E           09E
24       01W           16W
25       02W           15W
26       03W           14W
27       04W           13W
28       05W           12W
29       06W           11W
30       07W           10W
31       08W           09W

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [65]:
seeds['team_division'] = seeds['team_seed'].str[-1]
seeds['opponent_division'] = seeds['opponent_seed'].str[-1]
seeds.head()

  team_seed opponent_seed team_division opponent_division
0       01N           16N             N                 N
1       02N           15N             N                 N
2       03N           14N             N                 N
3       04N           13N             N                 N
4       05N           12N             N                 N

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [66]:
seeds['team_seed'] = seeds['team_seed'].str[:2]
seeds['opponent_seed'] = seeds['opponent_seed'].str[:2]
seeds.head()

  team_seed opponent_seed team_division opponent_division
0        01            16             N                 N
1        02            15             N                 N
2        03            14             N                 N
3        04            13             N                 N
4        05            12             N                 N

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>

In [70]:
seeds['seed_delta'] = (seeds['team_seed']).apply(lambda x: int(x)) - (seeds['opponent_seed']).apply(lambda x: int(x))
seeds.head()

  team_seed opponent_seed team_division opponent_division  seed_delta
0        01            16             N                 N         -15
1        02            15             N                 N         -13
2        03            14             N                 N         -11
3        04            13             N                 N          -9
4        05            12             N                 N          -7